body {
    margin:0;
    font-family:"PT Sans",Arial,sans-serif;
    font-size:14px;
    line-height:26px;
    font-weight:400;
    color:#333333;
    text-transform:uppercase;
    background-color:#f2f2f2;
}
.white-back{
    box-shadow: 0 0 30px 10px #dbdbdb;
    width: 1200px;
    height: 2762px;
    margin: 0 auto;
}
.visually-hidden{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.button{
    font: inherit;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;

}
a{
    font-weight: bold;
    text-decoration: none;
}
.main-navigation{
    color: #000000;
    background-color:#ffffff;
}
.site-navigation{
    list-style: none;
}
.site-navigation a{
    color:#000000;
}
.site-navigation a:hover,
.site-navigation a:focus
{
    color: #81b3d2;
}
.site-navigation a:active{
    color: rgba(0, 0, 0, 0.3);
}
.index-main{
    text-align: center;
}
.main-welcome{
    background-color: #7bb3d0;
    background-image: url("../img/polygon.svg"), url("../img/background-photo.jpg");
    background-repeat: no-repeat;
}
.text-container{
    background-color: #ffffff;
    font-size:21px;
    font-weight: bold;
}
.text-subtitle{
    font-size: 14px;
    font-weight: normal;
}
.main-block h2,
.main-block h3,
.main-block h4 {
    font-size: 21px;
    line-height: 21px;
}
ol{
    list-style: none;
}
.text-content{
    color: #ffffff;
    background-color:#81b3d2;
    line-height: 21px;
}
.aside-list{
    list-style: none;
    line-height: 21px;
    color: #333333;
    background-color: #ffffff;
}
.desc-list{
    background-color: #eeeeee;
}
.desc-list li{
    list-style: none;
}
.interest-container{
    background-color: #ffffff;
}
.interest-container h2{
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    font-weight: bold;
}
.interest-container p{
    line-height: 24px;
}
.search-btn{
    color: #ffffff;
    background-color:#766357;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}
.search-btn a:hover,
.search-btn a:focus
{
    background-color:#766357;
}
.search-btn a:active{
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}
.search-form input{
    font: inherit;
}
.search-form {
    line-height: 26px;
    font-weight: bold;
    background-color: #ffffff;
}

.search-form .field {
    line-height: 26px;
    padding: 4px 15px 8px;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-transform: uppercase;
    background: #f2f2f2;
}
::-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
    color: #000000;
}
.search-form .field:hover {
    background: #ebebeb
}

.search-form .field:focus {
    background: #ffffff;
    outline: 2px solid #e5e5e5
}
.search-form .date {
    width: 346px;
    padding-right: 37px;
}
.btn-calendar{
    background-image: url("../img/calendar.svg");
    width:21px;
    height:22px;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.find-btn{
    color: #ffffff;
    background-color:#81b3d2
}
.find-btn:hover,
.find-btn:focus{
    background-color: #669ec0;
}
.find-btn:active{
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3)
}
.main-footer{
    color: #000000;
    background-color: #ffffff;
}
.hashtag-text{
    font-size: 21px;
    font-weight: bold;
}
.footer-social li{
    list-style: none;
}
.footer-social a{
    color: #000000;
    background-color: #81b3d2;
}
.social-twitter{
    background-image: url("../img/twitter.svg") ;
    background-repeat: no-repeat;
}

.social-facebook{
    background-image: url("../img/facebook.svg");
    background-repeat: no-repeat;
}
.social-youtube{
    background-image: url("../img/youtube.svg");
    background-repeat: no-repeat;
}
.footer-social a:hover,
.footer-social a:focus{
    background-color: #669ec0;
}
.footer-social a:active{
    background-color: #5496bd;
}
.logo svg {
    width:115px;
    height:41px;
}

.logo:hover path {
    fill:#81b3d2;
}

.logo:focus path {
    fill:#bdbbbc;
}
.catalog-main{
    text-align: left;
    background-color: #ffffff;
    line-height: 21px;

}
.catalog-main h2{
    font-size:21px;
}

.catalog-main li{
    list-style: none;
}
.hotel-title a{
    color: #000000;
}
.more{
    color: #ffffff;
    background-color: #81b3d2;
}
.more:hover,
.more:focus{
    background-color: #669ec0;
}
.more:active{
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3)
}
.booking{
    color: #ffffff;
    background-color:#766357;
}
.booking:hover,
.booking:focus{
    background-color:#604e43;
}
.booking:active{
    background-color:#503e33;
    color:rgba(255, 255, 255, 0.3);
}
.rating{
    background-color:#f2f2f2
}
