body {
    margin: 0 auto;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

html {
    box-sizing: border-box;
}

img {
    max-width: 100%
}

*, *::before, *::after {
    box-sizing: inherit;
}

.wrapper {
    width: 1200px;
    height: 100%;
    box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.page-header {
    min-height: 56px;
    margin-bottom: 0;
    background-color: #ffffff;
}

.main-navigation {
    height: 56px;
    margin: 0;
}

.header-logo {
    width: 140px;
    height: 71px;
    position: absolute;
    left: 690px;
}

.list-navigation {
    display: flex;
    text-align: center;
    justify-content: space-between;
    height: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    list-style: none;
}

.item-navigation:nth-child(2) {
    margin-right: 122px;
}

.item-navigation:nth-child(3) {
    margin-left: 122px;
}

.item-navigation,
.item-navigation a {
    text-decoration: none;
    min-width: 239px;
    color: #000000;
    font-weight: bold;
}

.item-navigation a:hover {
    color: #81b3d2;
}

.item-navigation a:active {
    color: rgba(0, 0, 0, 0.3)

}

.main-welcome {
    padding-top: 76px;
    background-color: #7bb3d0;
    background-image: url("../img/polygon.svg"), url("../img/background-photo.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: center bottom 216px, center center;
    background-size: contain, cover;
    text-align: center;
}

.welcome-img {
    margin: 76px 371px 79px 370px;
}

.welcome-container {
    display: block;
    height: 216px;
    background-color: #ffffff;
}

.welcome-slogan {
    padding: 61px 308px 38px 308px;
    margin: 0;
    font-size: 21px;
    font-weight: bold;
}

.welcome-text {
    margin: 0;
}

.advantages {
    text-align: center;
    line-height: 21px;
}

.advantages-list {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 21px;
}

.advantages-item {

}

.advantages-wrapper {
    display: flex;
    height: 256px;
    color: #ffffff;
    background-color: #81b3d2;
}

.advantages-container {
    padding: 46px 60px 64px 60px;
}

.wrapper-box {
    display: flex;
    flex-direction: row-reverse;
    color: #ffffff;
    background-color: #81b3d2;
}

.advantages-box {
    padding: 49px 49px 65px 48px;
    height: 256px;
}

.advantages-list h3,
.advantages-list h4 {
    font-size: 21px;
    line-height: 21px;
}

.secondary-list {
    display: flex;
    padding: 164px 63px 86px 73px;
    list-style: none;
    background-color: #ffffff;
}

.secondary-list h4 {
    margin: 0;
}


.search {
    text-align: center;
}

.search-info {
    background-color: #ffffff;
}

.search-title {
    color: #000000;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
}

.search-btn {
    display: block;
    width: 568px;
    margin: 0 auto;
    color: #ffffff;
    padding: 30px 0 30px;
    font-size: 21px;
    font-weight: bold;
    text-decoration: none;
    background: #766357;
}

.search-btn:hover {
    background-color: #604e43;
}

.search-btn:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.search-form {
    width: 568px;
    padding: 55px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: left;
    font-weight: bold;
    background: #ffffff;
}

.search-form-input {
    width: 346px;
    height: 38px;
    background-color: #f2f2f2;
    border: none;
    font-weight: bold;
}

.search-form-input:hover {
    background-color: #ebebeb;
}

.search-form-input:focus {
    background-color: #ffffff;
}

.search-form-input input::-moz-placeholder {
    color: #000000;
}

.search-form-input input::-webkit-input-placeholder {
    color: #000000;
}

.search-form-input input:-ms-input-placeholder {
    color: #000000;
}

.search-form-input input::-ms-input-placeholder {
    color: #000000;
}

.search-form-input input::placeholder {
    color: #000000;
}

.search-form-btn {
    width: 38px;
    text-align: center;
    border: none;
    height: 38px;
    margin: 0;
    background-color: #f2f2f2f2;
}

.unit-container input {
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
    text-align: center;
    border: none;
}

.search-form-wrapper {
    display: flex;
    justify-content: space-between;
}

.search-form-button {
    display: block;
    width: 458px;
    margin-top: 54px;
    padding: 14px 10px 15px;
    box-sizing: border-box;
    font-size: 21px;
    text-transform: uppercase;
    color: #ffffff;
    background: #81b3d2;
    border: none;
    outline: none;
}

.search-form-button:hover {
    background-color: #669ec0;
}

.search-form-button:focus {
    background-color: #669ec0;;
}

.search-form-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 120px;
    opacity: 0.9;
}

.hashtag-text {
    font-weight: bold;
    font-size: 21px;
    padding-left: 132px;
}

.social-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}

.developer {
    padding-right: 101px;
}

.logo svg {
    width: 115px;
    height: 41px;
}

.logo:hover path {
    fill: #81b3d2;
}

.logo:focus path {
    fill: #bdbbbc;
}

.filter-menu {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    line-height: 21px;
    font-size: 16px;
    font-weight: bold;
    background-image: url("../img/filter-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.results {
    background-color: #ffffff;
}

.sorting-filters,
.sorting-filters a {
    list-style: none;
    color: #000000;
    text-decoration: none;
}

.list-hotel {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

.list-hotel {
    line-height: 21px;
    list-style: none;

}

.list-hotel a {
    color: #000000;
    text-decoration: none;
}
